<!-- <section class="hero d-flex align-items-center">
  <div class="container">
    <div class="row align-items-center justify-content-between">
      
      <div class="col-lg-6">
        <h1 class="hero-title" data-aos="fade-left" data-aos-delay="0">
          Modern Interior <br> Design Studio
        </h1>
        <p class="hero-subtitle" data-aos="fade-left" data-aos-delay="100">
          Donec vitae odio quis nisl dapibus malesuada. Nullam ac aliquet velit. Aliquam vulputate velit imperdiet dolor tempor tristique.
        </p>
        <div class="btn-group" data-aos="fade-left" data-aos-delay="200">
          <a href="#" class="btn btn-warning me-2">Shop Now</a>
          <a href="#" class="btn btn-outline-dark">Explore</a>
        </div>
      </div>

      <div class="col-lg-6 text-center">
        <img src="assets/images/couch.png" alt="Couch" class="img-fluid" data-aos="fade-up" data-aos-delay="300">
      </div>

    </div>
  </div>
</section> -->

<!-- Why Choose Us -->
<section class="bout" data-aos="fade-up" data-aos-delay="300">
  <div class="container">
    <div class="row justify-content-between">

      <div class="col-lg-6">
        <div class="text5" data-aos="fade-left">
          <h1>Why Choose Us</h1>
          <p>Donec vitae odio quis nisl dapibus malesuada. Nullam ac aliquet velit.</p>
        </div>

        <div class="row">
          <div
            class="col-6 col-md-6"
            *ngFor="let feature of features; index as i"
            [attr.data-aos]="'fade-left'"
            [attr.data-aos-delay]="(i + 1) * 100"
          >
            <div class="log">
              <div class="icon">
                <div class="border-1"></div>
                <img [src]="feature.icon" [alt]="feature.title">
              </div>
              <h5>{{ feature.title }}</h5>
              <p>{{ feature.desc }}</p>
            </div>
          </div>
        </div>

      </div>

      <div class="col-lg-6">
        <div class="img-3">
          <div class="border-2" data-aos="fade-left" data-aos-delay="500">
            <img src="assets/images/dots-yellow.svg" alt="">
          </div>
          <img src="assets/images/why-choose-us-img.jpg" alt="" data-aos="fade-left" data-aos-delay="550">
        </div>
      </div>

    </div>
  </div>
</section>


<section class="help" data-aos="fade-up" data-aos-delay="500">
  <div class="container">
    <div class="row justify-content-between">
      <div class="col-lg-7 mb-5">
        <div class="row help-images" >
          <div class="col-5- img1">
            <img src="assets/images/img-grid-1.jpg" alt="" class="img1"  data-aos="fade-left" data-aos-delay="100">
            <div class="help-layer">
              <img src="assets/images/dots-green (2).svg" alt="" data-aos="fade-left" data-aos-delay="200">
            </div>
          </div>
          <div class="col-4 img2">
            <img src="assets/images/img-grid-2.jpg" alt="" class="img2" data-aos="fade-left" data-aos-delay="300">
          </div>
          <div class="col-3 img3">
            <img src="assets/images/img-grid-3.jpg" alt="" class="img3" data-aos="fade-left" data-aos-delay="400">
          </div>
        </div>
      </div>
      <div class="col-lg-5 ps-lg-5 help-cont col-md-12 col-sm-12" data-aos="fade-left" data-aos-delay="500">
        <h2 class="mb-4">We Help You Make Modern Interior Design</h2>
        <p data-aos="fade-left" data-aos-delay="700">Donec facilisis quam ut purus rutrum lobortis. Donec vitae odio quis nisl dapibus malesuada. Nullam ac aliquet velit. Aliquam vulputate velit imperdiet dolor tempor tristique. Pellentesque habitant morbi tristique senectus et netus et malesuada</p>
        <ul class="row list">
          <li class="col-lg-6 col-md-12 col-sm-12" data-aos="fade-up" data-aos-delay="800">Donec vitae odio quis nisl dapibus malesuada</li>
          <li class="col-lg-6 col-md-12 col-sm-12" data-aos="fade-up" data-aos-delay="900">Donec vitae odio quis nisl dapibus malesuada</li>
          <li class="col-lg-6 col-md-12 col-sm-12" data-aos="fade-up" data-aos-delay="1000">Donec vitae odio quis nisl dapibus malesuada</li>
          <li class="col-lg-6 col-md-12 col-sm-12" data-aos="fade-up" data-aos-delay="1100">Donec vitae odio quis nisl dapibus malesuada</li>
        </ul>
        <a href="#" data-aos="fade-up" data-aos-delay="1000">Explore</a>
      </div>
    </div>
  </div>
</section>
      <section class="post" data-aos="fade-up" data-aos-delay="700" style="     background-color: #eff2f1;">
  <div class="container">
    <div class="row row-cols-1 row-cols-md-3 g-4">

      <!-- Card 1 -->
      <div class="col">
        <div class="card mb-3" style="max-width: 540px;" data-aos="zoom-in" data-aos-delay="200">
          <div class="row g-0">
            <div class="col-md-4">
              <div class="border">
                <img src="assets/images/product-1.png" class="img-fluid rounded-start" alt="Nordic Chair">
              </div>
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">Nordic Chair</h5>
                <p class="card-text">
                  <small class="text-body-secondary">
                    Donec facilisis quam ut purus rutrum lobortis. Donec vitae odio
                  </small>
                </p>
                <a href="#">Read More</a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Card 2 -->
      <div class="col">
        <div class="card mb-3" style="max-width: 540px;" data-aos="zoom-in" data-aos-delay="300">
          <div class="row g-0">
            <div class="col-md-4">
              <div class="border">
                <img src="assets/images/product-2.png" class="img-fluid rounded-start" alt="Kruzo Aero Chair">
              </div>
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">Kruzo Aero Chair</h5>
                <p class="card-text">
                  <small class="text-body-secondary">
                    Donec facilisis quam ut purus rutrum lobortis. Donec vitae odio
                  </small>
                </p>
                <a href="#">Read More</a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Card 3 -->
      <div class="col">
        <div class="card mb-3" style="max-width: 540px;" data-aos="zoom-in" data-aos-delay="400">
          <div class="row g-0">
            <div class="col-md-4">
              <div class="border">
                <img src="assets/images/product-3.png" class="img-fluid rounded-start" alt="Ergonomic Chair">
              </div>
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">Ergonomic Chair</h5>
                <p class="card-text">
                  <small class="text-body-secondary">
                    Donec facilisis quam ut purus rutrum lobortis. Donec vitae odio
                  </small>
                </p>
                <a href="#">Read More</a>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>


  <section class="item" data-aos="fade-up" data-aos-delay="900">
      <div class="container">
          <div class="row justify-content-center">
              <div class="col-lg-7 mx-7 text-center">
                  <h2>Testimonials</h2>
              </div>
          </div>
          <div class="row justify-content-center">
              <div class="col-lg-12">
                <div id="carouselExampleDark" class="carousel carousel-dark slide">
                    <div class="carousel-indicators">
                      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
                      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
                    </div>
                      <div class="carousel-inner">
                          <div class="carousel-item active">
                              <div class="row justify-content-center"></div>
                              <div class="col-lg-8 mx-auto">
                                  <div class="item-text text-center mb-2">
                                      <p>Donec facilisis quam ut purus rutrum lobortis. Donec vitae odio quis nisl
                                          dapibus malesuada. Nullam ac aliquet velit. Aliquam vulputate velit
                                          imperdiet dolor tempor tristique. Pellentesque habitant morbi tristique
                                          senectus et netus et malesuada fames ac turpis egestas. Integer convallis
                                          volutpat dui quis scelerisque.</p>
                                      <div class="item-title mb-5">
                                          <div class="item-img">
                                              <img src="assets/images/person-1.png" alt="">
                                          </div>
                                          <h3>Maria Jones</h3>
                                          <p>
                                              CEO, Co-Founder, XYZ Inc.
                                          </p>
                                      </div>
                                  </div>
                              </div>
                          </div>
  
                          <div class="carousel-item">
                              <div class="row justify-content-center"></div>
                              <div class="col-lg-8 mx-auto">
                                <div class="item-text text-center mb-2">
                                      <p>Donec facilisis quam ut purus rutrum lobortis. Donec vitae odio quis nisl
                                          dapibus malesuada. Nullam ac aliquet velit. Aliquam vulputate velit
                                          imperdiet dolor tempor tristique. Pellentesque habitant morbi tristique
                                          senectus et netus et malesuada fames ac turpis egestas. Integer convallis
                                          volutpat dui quis scelerisque.</p>
                                      <div class="item-title mb-5">
                                          <div class="item-img">
                                              <img src="assets/images/person-1.png" alt="">
                                          </div>
                                          <h3>Maria Jones</h3>
                                          <p>
                                              CEO, Co-Founder, XYZ Inc.
                                          </p>
                                      </div>
                                  </div>
                              </div>
                          </div>
  
                          <div class="carousel-item">
                              <div class="row justify-content-center"></div>
                              <div class="col-lg-8 mx-auto">
                                  <div class="item-text text-center">
                                      <p>Donec facilisis quam ut purus rutrum lobortis. Donec vitae odio quis nisl
                                          dapibus malesuada. Nullam ac aliquet velit. Aliquam vulputate velit
                                          imperdiet dolor tempor tristique. Pellentesque habitant morbi tristique
                                          senectus et netus et malesuada fames ac turpis egestas. Integer convallis
                                          volutpat dui quis scelerisque.</p>
                                      <div class="item-title mb-5">
                                          <div class="item-img">
                                              <img src="assets/images/person-1.png" alt="">
                                          </div>
                                          <h3>Maria Jones</h3>
                                          <p>
                                              CEO, Co-Founder, XYZ Inc.
                                          </p>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                      <button class="carousel-control-prev spl-btn" type="button"
                          data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
                          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                          <span class="visually-hidden">Previous</span>
                      </button>
                      <button class="carousel-control-next spl-btn" type="button"
                          data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
                          <span class="carousel-control-next-icon" aria-hidden="true"></span>
                          <span class="visually-hidden">Next</span>
                      </button>
                  </div>
              </div>
          </div>
      </div>
  </section> 
   <section class="Blog" data-aos="fade-up" data-aos-delay="1100">
     <div class="container"> 
        <div class="row mb-5 ">
            <div class="col">
                <h2 class="title">Recent Blog</h2>
            </div>
            <div class="col-md-6 text-start text-md-end">
                <a href="#" class="more">View All Posts</a>
            </div>
        </div>
        <div class="row row-col-1 row-cols ">
            <div class="col">
              <div class="card h-100">
                <img src="assets/images/post-1.jpg" class="img" alt="..." data-aos="zoom-in" data-aos-delay="200">
                <div class="layer-2"></div>
                <div class="card-body">
                  <h5 class="card-title">First Time Home Owner Ideas
                  </h5>
                  <p class="card-text"> <samp style="color: rgb(182, 170, 170);">by</samp> Kristin Watson <samp style="color: rgb(182, 170, 170);">on</samp> Dec 19, 2021</p>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card h-100">
                <img src="assets/images/post-2.jpg" class="img" alt="..." data-aos="zoom-in" data-aos-delay="400">
                <div class="layer-2"></div>
                <div class="card-body">
                  <h5 class="card-title">How To Keep Your Furniture Clean</h5>
                  <p class="card-text"><samp style="color: rgb(182, 170, 170);">by</samp> Robert Fox <samp style="color: rgb(182, 170, 170);">on</samp> Dec 15, 2021</p>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card h-100">
                <img src="assets/images/post-3.jpg" class="img" alt="..." data-aos="zoom-in" data-aos-delay="600">
                <div class="layer-2"></div>
                <div class="card-body">
                  <h5 class="card-title">Small Space Furniture Apartment Ideas</h5>
                  <p class="card-text"><samp style="color: rgb(182, 170, 170);">by</samp> Kristin Watson <samp style="color: rgb(182, 170, 170);">on</samp> Dec 12, 2021</p>
                </div>
              </div>
            </div>
           
          </div>
    </div> 
  </section> 
   <section class="end"data-aos="fade-up" data-aos-delay="1300">
  <div class="container end1">
    <!-- Sofa Image -->
    <div class="sofa  animate__animated animate__fadeInUp animate__delay-.7s">
      <img src="assets/images/sofa.png" alt="sofa"  >
    </div>

    <!-- Newsletter Form -->
    <div class="row">
      <div class="col-lg-6">
        <div class="end-form">
          <h3 class="text-6">
            <i class="fa-regular fa-envelope" style="color: #cbced2;"></i>
            <span style="font-size: 18px; font-weight: 500; color: #3b5d50;">Subscribe to Newsletter</span>
          </h3>
        </div>

        <form action="#" class="row g-3">
          <div class="col-auto">
            <input type="text" class="form-1" placeholder="Enter your name" />
          </div>
          <div class="col-auto">
            <input type="email" class="form-1" placeholder="Enter your email" />
          </div>
          <div class="col-auto">
            <button type="submit" class="btn-form">
              <div class="log-2">
                <i class="fa-solid fa-paper-plane" style="color: #ffffff;"></i>
              </div>
            </button>
          </div>
        </form>
      </div>
    </div>

    <!-- Brand Name -->
    <a href="#" class="furni">Furni.</a>

    <!-- Footer Content -->
    <div class="row top">
      <div class="col-12 col-md-4 mb-3">
        <p>
          Donec facilisis quam ut purus rutrum lobortis. Donec vitae odio quis
          nisl dapibus malesuada. Nullam ac aliquet velit. Aliquam vulputate
          velit imperdiet dolor tempor tristique. Pellentesque habitant.
        </p>
      <ul class="loga d-flex flex-row  ">
                <li class="link">
                    <i class="fa-brands fa-facebook"></i> 
                </li>
                <li class="link"><i class="fa-brands fa-twitter"></i></li>
                <li class="link"><i class="fa-brands fa-instagram"></i></li>
                <li class="link"><i class="fa-brands fa-tiktok"></i></li>
            </ul>
      </div>

      <div class="col-12 col-md-8 d-flex flex-wrap justify-content-between">
        <div class="col-6 col-md-3 end-taxt">
          <ul class="content">
            <li>About us</li>
            <li>Services</li>
            <li>Blog</li>
            <li>Contact us</li>
          </ul>
        </div>
        <div class="col-6 col-md-3 end-taxt">
          <ul class="content">
            <li>Support</li>
            <li>Knowledgebase</li>
            <li>Live chat</li>
          </ul>
        </div>
        <div class="col-6 col-md-3 end-taxt">
          <ul class="content">
            <li>Jobs</li>
            <li>Our team</li>
            <li>Leadership</li>
            <li>Privacy Policy</li>
          </ul>
        </div>
        <div class="col-6 col-md-3 end-taxt">
          <ul class="content">
            <li>Nordic Chair</li>
            <li>Kruzo Aero</li>
            <li>Blog</li>
            <li>Ergonomic Chair</li>
          </ul>
        </div>
      </div>

      <!-- Bottom Footer -->
      <div class="border-top line d-flex flex-wrap justify-content-between pt-3 mt-3">
        <div class="col-12 col-md-6">
          <p>
            Copyright ©2024. All Rights Reserved —
            Designed with love by <a href="#">Untree.co</a> Distributed By ThemeWagon
          </p>
        </div>
        <div class="col-12 col-md-6 text-md-end">
          <a href="#">Terms & Conditions</a>
          <a href="#" class="ms-3">Privacy Policy</a>
        </div>
      </div>
    </div>
  </div>
</section>
